@import '../bourbon/bourbon';

.breadcrumbs {
  margin-top: -60px;

  .breadcrumbs-circle {
    top: 18px;

    margin-right: 5px;
    margin-left: 5px;

    position: relative;
  }

  hgroup {
    margin-top: -12px;
    margin-left: 40px;
  }

  hr {
    bottom: -20px;

    border: 1px solid #d3cece;

    color: #d3cece;
    position: relative;
    z-index: -1;
  }

  .hclass {
    padding: 3px 6px;

    font-family: 'pf_agora_sans_pro_bold_italic';
    font-style: italic;

    background: #fff;

    color: #8b716a;
    float: left;
    font-size: 14px;
  }

  h2 {
    @extend .hclass;
  }
  h2:hover {
    color: #be743c !important;
  }

  h3 {
    @extend .hclass;

    top: -20px;

    font-family: 'pf_agora_sans_pro_Medium_Italick';
    font-style: italic;

    font-size: 24px;
    position: relative;
  }

  .filter-button {
    margin-top: 10px;

    float: right;
  }

  .filter-button:hover {
    .button-border {
      @include background-image(linear-gradient(top,  #fff 0%,#f1eaea 3%,#e8e1df 84%,#ede8e8 90%,#b6acac 99%));

      background-color: #fff;
    }
  }
}