$block-width: 238px;

.category {
  margin-bottom: 40px;

  width: $block-width;

  background: url(../../images/category/top_bg.png) top center no-repeat,url(../../images/category/bottom_bg.png) bottom center no-repeat, url(../../images/category/bg.png) repeat-y center top;

  display: block;
  float: left;
  min-height: 200px;

  header {
    padding-top: 10px;
    padding-bottom: 10px;

    width: $block-width;

    font-family: "pf_agora_sans_pro_Medium_Italic";
    font-style: italic;

    color: #fcefd9;
    font-size: em(16px);
    font-weight: 700;
    text-align: center;
    text-shadow: 0.5px 0.9px 1px rgba(167, 74, 34, 0.66);
  }

  nav {
    margin-top: 8px;
    margin-left: 3px;

    clear: both;

    a {
      margin-bottom: 5px;

      width: $block-width;

      font-family: "pf_agora_sans_pro_light_italic";
      font-style: italic;

      clear: left;
      color: #b48865;
      display: inline-block;
      float: left;
      font-size: em(14px);
      font-weight: 700;
      line-height: 24px;
      text-align: center;
      text-shadow: 0.5px 0.9px 1px #faf3ea;

      span {
        font-family: "pf_agora_sans_pro_Bold_Italic";
        font-style: italic;

        color: #d37759;
        font-size: em(20px);
        font-weight: 700;
      }
    }

    a:hover {
      color: #d37759;
    }

    a:last-child {
      margin-bottom: 20px;
    }
  }
}