$block-width: 238px;

.category {
	float: left;
	display: block;
	width: $block-width;
	min-height: 200px;
	margin-bottom: 40px;
	background: url(../../images/category/top_bg.png) top center no-repeat,url(../../images/category/bottom_bg.png) bottom center no-repeat, url(../../images/category/bg.png) repeat-y center top;
	
	header {
		color: #FCEFD9;
		font-family: "pf_agora_sans_pro_Medium_Italic";
		font-size: em(16px);
		font-weight: 700;
		font-style: italic;
		text-shadow: 0.5px 0.9px 1px rgba(167, 74, 34, 0.66);
		text-align: center;
		width: $block-width;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	nav {
		clear: both;
		margin-left: 3px;
		margin-top: 8px;
		
		a {
			float: left;
			clear: left;
			display: inline-block;
			width: $block-width;
			text-align: center;
			margin-bottom: 5px;
			line-height: 24px;
		
			color: #B48865;
			font-family: "pf_agora_sans_pro_Medium_Italic";
			font-size: em(14px);
			font-weight: 700;
			font-style: italic;
			text-shadow: 0.5px 0.9px 1px #FAF3EA;
			
			span {
				color: #D37759;
				font-size: em(20px);
				font-weight: 700;
				font-family: "pf_agora_sans_pro_Bold_Italic";
				font-style: italic;
			}
			
		}
		
		a:hover {
			color: #D37759;
		}
		
		a:last-child {
			margin-bottom: 20px;
		}
		
	}
	
}