/*PF Agora Sans Pro*/

//Italic
@font-face {
  font-family: 'pf_agora_sans_pro_italic';
  font-style: italic;

  font-weight: normal;
  src: url('../fonts/pf_agora/Italic.ttf');
}


//Light Italic
@font-face {
  font-family: 'pf_agora_sans_pro_light_italic';
  font-style: italic;

  font-weight: normal;
  src: url('../fonts/pf_agora/Light_Italic.ttf');
}


//Bold Italic
@font-face {
  font-family: 'pf_agora_sans_pro_bold_italic';
  font-style: italic;

  font-weight: normal;
  src: url('../fonts/pf_agora/Bold_Italic.ttf');
}


//Thin Italic
@font-face {
  font-family: 'pf_agora_sans_pro_thin_italic';
  font-style: italic;

  font-weight: normal;
  src: url('../fonts/pf_agora/Thin_Italic.ttf');
}



/*Lobster*/
@font-face {
  font-family: 'lobster';
  font-style: italic;

  font-weight: normal;
  src: url('../fonts/Lobster.ttf');
}