/*PF Agora Sans Pro*/

//Regular
@font-face {
  font-family: 'pf_agora_sans_pro_regular';

  font-weight: normal;
  src: url('../fonts/pf_agora/Regular.ttf');
}

//Italic
@font-face {
  font-family: 'pf_agora_sans_pro_italic';
  font-style: italic;

  font-weight: normal;
  src: url('../fonts/pf_agora/Italic.ttf');
}

//Medium
@font-face {
  font-family: 'pf_agora_sans_pro_Medium';

  font-weight: normal;
  src: url('../fonts/pf_agora/Medium.ttf');
}

//Medium Italic
@font-face {
  font-family: 'pf_agora_sans_pro_Medium_Italic';
  font-style: italic;

  font-weight: normal;
  src: url('../fonts/pf_agora/Medium_Italic.ttf');
}

//Light Italic
@font-face {
  font-family: 'pf_agora_sans_pro_light_italic';
  font-style: italic;

  font-weight: normal;
  src: url('../fonts/pf_agora/Light_Italic.ttf');
}


//Light
@font-face {
  font-family: 'pf_agora_sans_pro_light';

  font-weight: normal;
  src: url('../fonts/pf_agora/Light.ttf');
}

//Bold Italic
@font-face {
  font-family: 'pf_agora_sans_pro_bold_italic';
  font-style: italic;

  font-weight: normal;
  src: url('../fonts/pf_agora/Bold_Italic.ttf');
}


//Thin Italic
@font-face {
  font-family: 'pf_agora_sans_pro_thin_italic';
  font-style: italic;

  font-weight: normal;
  src: url('../fonts/pf_agora/Thin_Italic.ttf');
}



/*Lobster*/
@font-face {
  font-family: 'lobster';
  font-style: italic;

  font-weight: normal;
  src: url('../fonts/Lobster.ttf');
}
