.cart-icon {
  width: 34px;
  height: 31px;

  background: url('../images/icons/cart-icon.png') no-repeat left top;

  display: block;
}

.r-bold-icon {
  width: 8px;
  height: 10px;

  background: url('../images/icons/r-bold-icon.png') no-repeat left top;

  display: block;
}

.search-icon {
  width: 21px;
  height: 21px;

  background: url("../images/icons/search-icon.jpg") no-repeat;
}

.date-name-ellipse-icon {
  width: 9px;
  height: 9px;

  background: url('../images/icons/date-name-ellipse-icon.png') no-repeat center center;

  display: block;
}

.arrow-top-icon {
  width: 10px;
  height: 5px;

  background: url('../images/icons/arrow-top-icon.png') no-repeat;

  display: block;
}

.arrow-bottom-icon {
  @extend .arrow-top-icon;

  background: url('../images/icons/arrow-bottom-icon.png') no-repeat;
}

.spoiler-arrow-icon {
  width: 15px;
  height: 15px;

  background: url(../images/spoiler_arrow.png) no-repeat;

  display: inline-block;
}

.fast-arrow {
  width: 7px;
  height: 14px;

  background: url(../images/fast_search/arrow.png) no-repeat;

  display: block;
}

// Социальные иконки
.soc-icons {
  margin: 0 4px 0 4px;

  width: 20px;
  height: 20px;

  background: url(../images/icons/soc-icons.png) no-repeat left top;

  display: block;
  float: left;
}

.vk {
  background-position: 0 0;
}

.vk:hover {
  background-position: 0 -20px;
}

.ok {
  background-position: -20px 0;
}

.ok:hover {
  background-position: -20px -20px;
}

.fb {
  background-position: -40px 0;
}

.fb:hover {
  background-position: -40px -20px;
}

.in {
  background-position: -60px 0;
}

.in:hover {
  background-position: -60px -20px;
}

.gp {
  background-position: -80px 0;
}

.gp:hover {
  background-position: -80px -20px;
}