.cart-icon {
  width: 34px;
  height: 31px;

  background: url('../images/icons/cart-icon.png') no-repeat left top;

  display: block;
}

.r-bold-icon {
  width: 8px;
  height: 10px;

  background: url('../images/icons/r-bold-icon.png') no-repeat left top;

  display: block;
}

.search-icon {
  width: 21px;
  height: 21px;

  background: url("../images/icons/search-icon.jpg") no-repeat;
}

.date-name-ellipse-icon {
  width: 9px;
  height: 9px;

  background: url('../images/icons/date-name-ellipse-icon.png') no-repeat center center;

  display: block;
}

.arrow-top-icon {
  width: 10px;
  height: 5px;

  background: url('../images/icons/arrow-top-icon.png') no-repeat;

  display: block;
}

.arrow-bottom-icon {
  @extend .arrow-top-icon;

  background: url('../images/icons/arrow-bottom-icon.png') no-repeat;
}

.spoiler-arrow-icon {
  width: 15px;
  height: 15px;

  background: url(../images/spoiler_arrow.png) no-repeat;

  display: inline-block;
  z-index: 2 !important;
}

.fast-arrow {
  width: 7px;
  height: 14px;

  background: url(../images/fast_search/arrow.png) no-repeat;

  display: block;
}

.fast-arrow-inner {
  @extend .fast-arrow;

  background: url(../images/fast_search/arrow_brown.png) no-repeat !important;
}



.soc-icons {
  margin: 0 4px 0 4px;

  width: 20px;
  height: 20px;

  background: url(../images/icons/soc-icons.png) no-repeat left top;

  display: block;
  float: left;
}

.vk {
  background-position: 0 0;
}

.vk:hover {
  background-position: 0 -20px;
}

.ok {
  background-position: -20px 0;
}

.ok:hover {
  background-position: -20px -20px;
}

.fb {
  background-position: -40px 0;
}

.fb:hover {
  background-position: -40px -20px;
}

.in {
  background-position: -60px 0;
}

.in:hover {
  background-position: -60px -20px;
}

.gp {
  background-position: -80px 0;
}

.gp:hover {
  background-position: -80px -20px;
}


// Elefan Top
.elefan-top {
  width: 227px;
  height: 72px;

  background: url(../../images/elefan-top.jpg) no-repeat;

  display: block;
}

.breadcrumbs-circle {
  width: 10px;
  height: 10px;

  background: url(../images/breadcrumbs-circle.png) no-repeat;

  content: '';
  display: block;
  float: left;
}

.inner-circle {
  width: 9px;
  height: 9px;

  background: url(../../images/icons/inner-circle.png) no-repeat;

  display: block;
}

.back-in-catalog-icon {
  width: 8px;
  height: 11px;

  background: url("../../images/back-in-catalog-icon.png") no-repeat;

  display: inline-block;
}


.arrow-full-item-page-icon {
  width: 21px;
  height: 22px;

  background: url("../images/arrow-full-item-page.png") no-repeat;

  background-position: top;
  display: inline-block;
}

.arrow-full-item-page-icon:hover {
  background-position: bottom;
}

.arrow-right {
  //  -ms-transform: rotate(180deg); /* IE 9 */
  //  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  //  transform: rotate(180deg);
  background: url("../../images/arrow-right-full-item-page.png") no-repeat;
}

.cost-roubl {
  width: 17px;
  height: 25px;

  background: url("../../images/icons/cost-roubl.png") no-repeat;

  display: inline-block;
}

//Бэйджи
.badge {
  width: 85px;
  height: 85px;

  display: inline-block;
  float: left;
}

.vip-icon {
  background: url("../../images/icons/vip-icon.png") no-repeat;
}

.sale-icon {
  background: url("../../images/icons/sale-icon.png") no-repeat;
}
.new-icon {
  background: url("../../images/icons/new-icon.png") no-repeat;
}

.hit-icon {
  background: url("../../images/icons/hit-icon.png") no-repeat;
}