.cart-icon {
  width: 34px;
  height: 31px;

  background: url('../images/icons/cart-icon.png') no-repeat left top;

  display: block;
}

.r-bold-icon {
  width: 8px;
  height: 10px;

  background: url('../images/icons/r-bold-icon.png') no-repeat left top;

  display: block;
}