@import "../bourbon/bourbon";

.button-border {
  @include background-image(linear-gradient(top,  #fff 0%,#f1eaea 3%,#e8e1df 84%,#ede8e8 90%,#b6acac 99%));

  width: auto;

  border: 2px solid #b0a6a6;

  background-color: #fff; // Old browsers
  border-radius: 9px;
  box-shadow: 0.5px 0.9px 1px #fff;
  cursor: pointer;
  display: inline-block;
  min-height: 24px;
  position: relative;
  z-index: 7;
}

.button-inner {
  width: 100%;

  border-radius: 9px;
  box-shadow: 0 1px 1px #5b4848;
  display: block;
  min-height: 24px;
}

.button-text {
  padding: 0 5px;

  font-family: "pf_agora_sans_pro_Medium_Italick";
  font-style: italic;
  font-style: italic;

  color: #b59c93;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 0.5px 0.9px 1px #fff;
}