.spoiler {
  padding: 0;

  clear: both;
  hr {
    border: 1px solid #dbd4d2;
  }

  .elefan-top {
    top: 35px;
    right: 30px;

    position: absolute;
  }
}

.whose-gift {
  margin-top: 40px;

  clear: both;

  nav {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 60px;

    -webkit-column-count: 6;
       -moz-column-count: 6;
            column-count: 6;
    line-height: 15px;
  }

  nav a {
    margin-bottom: 10px;

    font-family: 'pf_agora_sans_pro_thin_italic';
    font-style: italic;

    clear: left;
    color: #5c5c5c;
    display: inline-box;
    float: left;
  }
  nav a:hover {
    color: #c27d49;
  }
}
