//EXTENDS
.search-filter-submit {
  padding: 3px;

  width: auto;

  background: #b0a6a6;

  border-radius: 16px;
  box-shadow: 0.5px 0.9px 1px #fff;
  display: inline-block;

  div {
    @include size(163px 16px);
    @include background-image(linear-gradient(to top, #e8e0de 0%, #f1ebea 96%, #fff 100%));

    padding: 3px 8px;

    width: auto;

    border-radius: 14px;
    box-shadow: 0 1px 1px #5b4848;
    text-align: center;
  }

  span {
    color: #b59c93;
    text-shadow: 0.5px 0.9px 1px #fff !important;
  }
}

//.search-filter-submit:hover {
//  background: #dcd5d4;
//
//  box-shadow: 0.5px 0.9px 1px #fff;
//
//  div {
//    @include background-image(linear-gradient(to top, #cac1c0 0%, #cfc6c6 100%));
//
//    box-shadow: inset 0 1px 5px rgba(117, 97, 97, 0.4);
//  }
//
//  span {
//    color: #fff !important;
//    text-shadow: 0.5px 0.9px 1px #a58989 !important;
//  }
//}

//=========== END EXTENDS


.openFilters {
  clear: both;
  background: #f3eeed;
  margin-bottom: 5px;
  border-top: 1px solid #dad3d5;
  border-bottom: 1px solid #dad3d5;
  padding: 10px 40px 50px 90px;
  position: relative;
  top: -30px;

  .filters-gender-icons {
    float: left;
  }

  label {
    cursor: pointer;
  }

  input[type=radio]{
    display: none;
  }

//  input[type=radio]:checked + .filter-gender-man-icon {
//    background-position: 0 -44px !important;
//  }

  input[type=submit]{
    display: none;
  }

  .search-filter-button {
    @extend .search-filter-submit;
    font-family: pf_agora_sans_pro_Medium_Italic;
    font-style: italic;
    font-size: em(14px);
    float: left;
    color: #867a78;
    margin-top: 10px;
    margin-left: 10px;

    .filter-for {
      color: #c38565;
    }

    .filter-date {
      color: #a46a44;
    }
  }

//  Блоки фильтров
  .fast-filter-blocks {
    clear: both;

    form {
      margin-bottom: 30px;
    }

    .filter-block {
      display: block;
      float: left;
      width: 241px;
      background: url("../images/open_fast_filter/background.png") repeat-y center top;
      margin-right: 20px;

      label {
        clear: left;
        float: left;
        font-family: pf_agora_sans_pro_Medium_Italic;
        font-size: em(15px);
        font-style: italic;
        color: #b08a7c !important;
        margin: 0 8px;
        margin-top: 5px;
        margin-bottom:2px;
      }

      label:before {
        content: '';
        display: inline-block;
        background: url("../images/filter-radio.png") no-repeat;
        width: 16px;
        height: 15px;
        margin: 0 14px 0 6px;
      }

      input[type=radio]:checked + label:before {
        background-position: bottom !important;
      }

      input[type=radio]:checked + label {
        color: #9c918c !important;
      }

      input[type=checkbox] {
        display: none;
      }

      input[type=checkbox]:checked +label {
        color: #9c918c !important;
      }

      input[type=checkbox] + label:before {
        color: #9c918c !important;
        width: 17px;
        height: 17px;
        background: url("../images/filter-checkbox.png") no-repeat !important;
      }

      input[type=checkbox]:checked + label:before {
        background-position: bottom !important;
      }


      header {
        text-align: center;
        font-style: italic;
        font-family: pf_agora_sans_pro_Medium_Italic;
        min-height: 10px;
        font-size: em(14px);
        color: #fff;
        padding: 24px 5px 10px 5px;
        margin-bottom: 16px;
      }

      .type_1 {
        background: url("../images/open_fast_filter/top_type_1.png") no-repeat top center;
      }

      .type_2 {
        background: url("../images/open_fast_filter/top_type_2.png") no-repeat top center;
        height: 36px;
        position: relative;
        z-index: 9;
        margin-bottom: -4px;
      }

      .type_3 {
        background: url("../images/open_fast_filter/top_type_3.png") no-repeat top center;
        height: 30px;
        margin-bottom: -1px;
      }

      footer {
        background: url("../images/open_fast_filter/footer.png") no-repeat bottom center;
        display: block;
        height: 20px;
        padding-top: 22px;
        position: relative;

        i {
          position: absolute;
          bottom: -30px;
          left: 100px;
          cursor: pointer;
        }

      }

    }

  }


}