//EXTENDS
.search-filter-submit {
  padding: 3px;

  width: auto;

  background: #b0a6a6;

  border-radius: 16px;
  box-shadow: 0.5px 0.9px 1px #fff;
  display: inline-block;

  div {
    @include size(163px 16px);
    @include background-image(linear-gradient(to top, #e8e0de 0%, #f1ebea 96%, #fff 100%));

    padding: 3px 8px;

    width: auto;

    border-radius: 14px;
    box-shadow: 0 1px 1px #5b4848;
    text-align: center;
  }

  span {
    color: #b59c93;
    text-shadow: 0.5px 0.9px 1px #fff !important;
  }
}

//.search-filter-submit:hover {
//  background: #dcd5d4;
//
//  box-shadow: 0.5px 0.9px 1px #fff;
//
//  div {
//    @include background-image(linear-gradient(to top, #cac1c0 0%, #cfc6c6 100%));
//
//    box-shadow: inset 0 1px 5px rgba(117, 97, 97, 0.4);
//  }
//
//  span {
//    color: #fff !important;
//    text-shadow: 0.5px 0.9px 1px #a58989 !important;
//  }
//}

//=========== END EXTENDS


.openFilters {
  top: -30px;

  padding: 10px 40px 50px 90px;

  margin-bottom: 5px;

  background: #f3eeed;

  border-bottom: 1px solid #dad3d5;
  border-top: 1px solid #dad3d5;
  clear: both;
  position: relative;

  .filters-gender-icons {
    float: left;
  }

  label {
    cursor: pointer;
  }

  input[type=radio] {
    display: none;
  }

  //  input[type=radio]:checked + .filter-gender-man-icon {
  //    background-position: 0 -44px !important;
  //  }

  input[type=submit] {
    display: none;
  }

  .search-filter-button {
    @extend .search-filter-submit;

    margin-top: 10px;
    margin-left: 10px;

    font-family: pf_agora_sans_pro_Medium_Italic;
    font-style: italic;

    color: #867a78;
    float: left;
    font-size: em(14px);

    .filter-for {
      color: #c38565;
    }

    .filter-date {
      color: #a46a44;
    }
  }

  //  Блоки фильтров
  .fast-filter-blocks {
    clear: both;

    form {
      margin-bottom: 30px;
    }

    .filter-block {
      margin-right: 40px;

      width: 241px;

      background: url("../images/open_fast_filter/background.png") repeat-y center top;

      display: block;
      float: left;

      label {
        margin: 0 8px;

        margin-top: 5px;
        margin-bottom: 2px;

        font-family: pf_agora_sans_pro_Medium_Italic;
        font-style: italic;

        clear: left;
        color: #b08a7c !important;
        float: left;
        font-size: em(15px);
      }

      label:before {
        margin: 0 14px 0 6px;

        width: 16px;
        height: 15px;

        background: url("../images/filter-radio.png") no-repeat;

        content: '';
        display: inline-block;
      }

      input[type=radio]:checked + label:before {
        background-position: bottom !important;
      }

      input[type=radio]:checked + label {
        color: #9c918c !important;
      }

      input[type=checkbox] {
        display: none;
      }

      input[type=checkbox]:checked + label {
        color: #9c918c !important;
      }

      input[type=checkbox] + label:before {
        width: 17px;
        height: 17px;

        background: url("../images/filter-checkbox.png") no-repeat !important;

        color: #9c918c !important;
      }

      input[type=checkbox]:checked + label:before {
        background-position: bottom !important;
      }


      header {
        padding: 24px 5px 10px 5px;

        margin-bottom: 16px;

        font-family: pf_agora_sans_pro_Medium_Italic;
        font-style: italic;

        color: #fff;
        font-size: em(14px);
        min-height: 10px;
        text-align: center;
      }

      .type_1 {
        background: url("../images/open_fast_filter/top_type_1.png") no-repeat top center;
      }

      .type_2 {
        margin-bottom: -4px;

        height: 36px;

        background: url("../images/open_fast_filter/top_type_2.png") no-repeat top center;

        position: relative;
      }

      .type_3 {
        margin-bottom: -1px;

        height: 30px;

        background: url("../images/open_fast_filter/top_type_3.png") no-repeat top center;
      }

      footer {
        padding-top: 22px;

        height: 20px;

        background: url("../images/open_fast_filter/footer.png") no-repeat bottom center;

        display: block;
        position: relative;

        i {
          left: 100px;
          bottom: -30px;

          cursor: pointer;
          position: absolute;
        }
      }
    }
  }

  .happy-date-filter {
    margin-top: -24px;
    margin-right: 60px;

    width: 76px;

    float: right;
    position: relative;

    i {
      margin-left: 20px;

      clear: both;
      cursor: pointer;
    }

    .day {
      margin-top: 10px;
      margin-bottom: 10px;

      cursor: pointer;

      padding-top: 20px !important;

      font-family: pf_agora_sans_pro_light;

      clear: left;
      color: #8b716a;
      float: left;
      font-size: em(14px);
      text-align: center;
    }
  }

  .active-day {
    color: #fff;
  }
}