@import 'modules/breadcrumbs';
@import 'modules/pagination';

//EXTENDS
.must-button {
  padding: 3px;

  width: 100%;

  background: #b0a6a6;

  border-radius: 16px;
  box-shadow: 0.5px 0.9px 1px #fff;

  div {
    @include size(163px 24px);
    @include background-image(linear-gradient(to top, #e8e0de 0%, #f1ebea 96%, #fff 100%));

    padding: 3px;

    width: 95% !important;

    border-radius: 14px;
    box-shadow: 0 1px 1px #5b4848;
    text-align: center;
  }

  span {
    color: #b59c93;
    text-shadow: 0.5px 0.9px 1px #fff !important;
  }
}

.must-button:hover {
  background: #dcd5d4;

  box-shadow: 0.5px 0.9px 1px #fff;

  div {
    @include background-image(linear-gradient(to top, #cac1c0 0%, #cfc6c6 100%));

    box-shadow: inset 0 1px 5px rgba(117, 97, 97, 0.4);
  }

  span {
    color: #fff;
    text-shadow: 0.5px 0.9px 1px rgba(128, 111, 111, 0.23);
  }
}

//=========== END EXTENDS

.breadcrumbs {
  hgroup {
    margin-left: 70px;
  }
}

.cart-section {
  padding-bottom: 240px;

  background: url("../images/cart/table_background.png") no-repeat top center;

  clear: both;

  header {
    margin: 0 auto;
    padding: 0 10px;

    width: 1110px;
    height: 32px;

    border: 2px solid #b7a28c;
    background: url("../images/cart/top_cart_line.png") repeat-x;

    border-radius: 16px;

    hr {
      bottom: -4px;

      width: 779px;
      height: 4px;

      border: none;
      background: url("../images/cart/top_cart_line_hr.png") repeat-x;

      display: inline-block;
      float: left;
      position: relative;
    }

    .mini-hr {
      width: 70px !important;
    }

    span {
      bottom: -5px;

      margin: 0 5px;

      font-family: pf_agora_sans_pro_medium_italic;
      font-style: italic;

      color: #f0e9dc;
      float: left;
      font-size: em(14px);
      position: relative;
    }

    span:first-child {
      margin-right: 10px;
    }

    .cart_top_ellipse {
      bottom: -9px;

      width: 10px;
      height: 10px;

      background: url("../images/cart/ellipse.png") no-repeat;

      display: inline-block;
      float: left;
      position: relative;
    }
  }

  .items-in-cart {
    top: -2px;

    margin: 0 auto !important;

    width: 1105px;

    font-family: pf_agora_sans_pro_thin_Italic;
    font-style: italic;

    background: url("../images/cart/items_in_cart_bg_bottom.png") no-repeat bottom center, url("../images/cart/items_in_cart_bg_top.png") no-repeat top center, url(../images/cart/items_in_cart_bg_repeat.png) repeat-y 0 53px;

    color: #96735c !important;
    font-size: em(18px);
    font-weight: bold;
    min-height: 100px;
    position: relative;

    table {
      tr {
        clear: both;
      }

      tr:last-child {
        .item-in-cart {
          margin-bottom: -4px !important;
        }
      }

      input[type=number] {
        padding: 0 5px;

        width: 45px;

        border: none;
        background: none;

        float: left;
        outline: none;
        text-align: center;
      }
    }
  }

  td:first-child {
    width: 830px;
  }

  .item-cost {
    width: 100%;
  }

  td:last-child {
    width: 140px;

    text-align: right;
  }

  .item-in-cart {
    padding: 20px 15px;

    margin-bottom: -20px;

    img {
      margin-right: 10px;

      border-radius: 6px;
      -webkit-box-shadow: 1px 1px 1px #8b674e;
         -moz-box-shadow: 1px 1px 1px #8b674e;
              box-shadow: 1px 1px 1px #8b674e;
    }
  }

  .final-cost {
    margin-top: 10px;

    padding-right: 25px;

    clear: both;
    float: right;

    span {
      font-family: pf_agora_sans_pro_Medium_italic;
      font-style: italic;
    }

    .buy {
      @extend .must-button;

      margin-top: 10px;
      margin-left: 12px;

      width: 108px;
      height: 24px;

      font-size: em(12px);
      div {
        height: 18px;
      }
    }

    input[type=submit] {
      border: none;
      background: none;
    }
  }

  .tip {
    width: 856px;

    font-family: pf_agora_sans_pro_thin_Italic;
    font-style: italic;

    clear: both;
    float: left;
    font-weight: normal;
    text-transform: uppercase !important;
  }
}