@import 'modules/breadcrumbs';
@import 'modules/pagination';

.breadcrumbs {
  hgroup {
    margin-left: 70px;
  }
}

.cart-section {
  padding-bottom: 180px;

  clear: both;

  header {
    margin: 0 auto;
    padding: 0 10px;

    width: 1130px;
    height: 32px;

    border: 2px solid #b7a28c;
    background: url("../images/cart/top_cart_line.png") repeat-x;

    border-radius: 16px;

    hr {
      bottom: -4px;

      width: 779px;
      height: 4px;

      border: none;
      background: url("../images/cart/top_cart_line_hr.png") repeat-x;

      display: inline-block;
      float: left;
      position: relative;
    }

    .mini-hr {
      width: 110px !important;
    }

    span {
      bottom: -5px;

      margin: 0 5px;

      font-family: pf_agora_sans_pro_medium_italic;
      font-style: italic;

      color: #f0e9dc;
      float: left;
      font-size: em(14px);
      position: relative;
    }

    span:first-child {
      margin-right: 10px;
    }

    .cart_top_ellipse {
      bottom: -9px;

      width: 10px;
      height: 10px;

      background: url("../images/cart/ellipse.png") no-repeat;

      display: inline-block;
      float: left;
      position: relative;
    }
  }

  .items-in-cart {
    top: -2px;

    margin: 0 auto !important;

    width: 1105px;

    background: url("../images/cart/items_in_cart_bg_bottom.png") no-repeat bottom center, url("../images/cart/items_in_cart_bg_top.png") no-repeat top center, url(../images/cart/items_in_cart_bg_repeat.png) repeat-y;

    min-height: 100px;
    position: relative;

    table {
      font-family: pf_agora_sans_pro_thin_Italic;
      font-style: italic;

      color: #96735c !important;
      font-size: em(18px);
      font-weight: bold;

      input[type=number]{
        outline: none;
        background: none;
        border: none;
        width: 45px;
        padding: 0 5px;
        text-align: center;
        float: left;
        marign-right: 420px;
      }
    }
  }

  td:first-child {
    width: 830px;
    padding-right: 10px;
  }

  td:last-child{
    text-align: right;
    span {
      float: right;
    }
  }

  .item-in-cart {
    padding: 15px;

    img {
      margin-right: 10px;

      border-radius: 6px;
      -webkit-box-shadow: 1px 1px 1px #8b674e;
         -moz-box-shadow: 1px 1px 1px #8b674e;
              box-shadow: 1px 1px 1px #8b674e;
    }
  }

}