@import 'modules/breadcrumbs';
@import 'modules/main_button';
@import 'modules/category';
@import 'modules/pagination';

@import 'components/filter';
@import 'components/inner_footer';

.main-content {
  padding-top: 1px;
  padding-bottom: 30px;

  background: #f3eeed;

  clear: both;

  .fast-search-section {
    margin-top: -10px;
    margin-left: -30px;

    padding-top: 0;
  }

  .main-aside {
    margin-bottom: 0;

    padding-bottom: 0;

    width: 250px !important;

    float: left;
  }

  .content {
    margin-top: 50px;
    margin-left: 30px;

    clear: both;
  }

  .content-items {
    // 		width: 925px;
    width: 1000px;

    float: left;
  }

  .items {
    // max-width: 925px;
    width: 100%;

    clear: none !important;
    float: left;
  }

  .new-gifts {
    margin-left: 50px;

    float: left;
  }

  .new-gift {
    margin-right: 55px;
  }

  .gift-action-buy {
    background: url(../images/icons/buy-button-brown.png) no-repeat top left !important;
  }

  .gift-action-buy:hover {
    background-position: center bottom !important;
  }

  /*
	.new-gift:nth-child(4n){
		margin-right: 0;
	}
	.new-gift:nth-child(5n){
		margin-left: 30px;
	}
*/
}