@import "../components/search_box";
@import '../components/cover_calendar';

.cover {
  margin-top: -8px;

  width: 100%;

  background: url('../images/page-cover-bg.jpg') no-repeat left top;

  background-size: cover;
  display: block;
  max-height: 437px;
  min-height: 437px;
  position: relative;
  z-index: 1;


  hgroup {
    //  	text-align: center;
    top: 35px;
    left: percent(511px);

    display: block;
    //    top: 85px;
    position: absolute;

    h2 {
      margin-bottom: -50px;
      margin-left: 50px;

      font-family: pf_agora_sans_pro_italic;
      font-style: italic;

      color: #9a5e4f;
      font-size: em(21px);
    }

    h1 {
      font-family: lobster;
      font-style: italic;

      color: #5c5c5c;
      font-size: em(36px);
    }
  }

  //  hgroup end

  .bear {
    /* 		left:108px; */
    top: 51px;
    left: percent(50px);

    width: 296px;
    height: 316px;

    background: url(../images/bear.png) no-repeat;

    display: block;
    position: absolute;
  }

  .telephone {
    top: 380px;
    left: percent(85px);

    font-family: 'Lobster';

    color: #9a5e4f;
    font-size: em(24px);
    position: absolute;
  }
}

.main-nav {
  top: 195px;
  left: 45px;

  margin-left: 370px;

  width: 360px;
  height: 171px;

  display: block;
  position: absolute;


  nav {
    margin-left: 40px;

    float: left;

    a:first-child {
      font-family: "Lobster";

      color: #9a5e4f;
      font-size: em(22px);
    }

    a {
      font-family: 'pf_agora_sans_pro_thin_italic';
      font-style: italic;

      clear: left;
      color: #794132;
      float: left;
      font-size: em(20px);
    }
  }

  .dashed-line {
    padding-bottom: 4px;

    width: 86px;

    background: url(../images/dashed-line.png) no-repeat bottom;
  }

  nav:first-child {
    margin-left: 0;
    a:first-child {
      @extend .dashed-line;

      background-position: left bottom;
    }
  }

  nav:nth-child(2) {
    a:first-child {
      @extend .dashed-line;

      background-position: center bottom;
    }
  }

  nav:nth-child(3) {
    a:first-child {
      @extend .dashed-line;

      background-position: right bottom;
    }
  }
}
