.cover-calendar {
  top: 103px;
  right: 0;

  width: 385px;
  height: 285px;

  display: block;
  position: absolute;

  .date-name {
    top: 94px;

    width: 305px;

    font-family: 'Lobster';

    color: #9a5e4f;
    font-size: em(22px);
    overflow: hidden;
    position: absolute;
  }

  .date-name-ellipse-icon {
    top: 106px;
    left: 310px;

    position: absolute;
  }

  .gift-block {
    margin-top: 130px;

    width: 308px;
    height: 123px;

    display: block;
    text-align: center;

    nav a {
      margin-top: 5px;
      margin-right: 32-10px;
      margin-left: 7px;

      width: 80px;
      height: 80px;

      display: block;
      float: left;

      img {
        width: 100%;
        height: auto;

        border: 1px solid #d9c183;

        border-radius: 20px;
      }
    }

    nav a:last-child {
      margin-right: 0;
    }

    .all-gifts-link {
      margin-top: 10px;
      margin-left: 81px;

      font-family: 'Lobster';

      clear: both;
      color: #7b5d55;
      float: left;
      font-size: em(16px);
    }
    
    .all-gifts-link:hover {color:#dc9033}
  }

  .date {
    top: 0;
    right: -4px;

    width: 60px;

    display: block;
    float: right;
    position: absolute;


    .date-block a {
      margin: 7px 0;

      margin-left: 7px;

      padding-top: 8px;

      width: 45px;

      font-family: 'Lobster';

      background: #fff;

      border-radius: 12px 12px 12px 12px;
      clear: left;
      color: #ad9d99;
      display: block;
      float: left;
      font-size: em(10px);
      max-height: 44-8px;
      min-height: 44-8px;
      text-align: center;
    }

    a:first-child {
      margin-top: 17px;

      background: #9a5e4f;

      color: #fff;
      opacity: 0.5;
    }

    a:nth-child(2) {
      margin-top: 3px;
      margin-bottom: 20px;

      background: none;

      color: #7b5d55;
      cursor: default;
      font-size: em(18px);

      span {
        margin-left: -8px;

        border-top: 1px solid #8f7366;
        font-size: em(14px);
      }
    }

    .date-prev {
      margin: 0 auto;

      text-align: center;
      i {
        margin: 0 auto;
      }
    }

    .date-next {
      left: 24px;
      bottom: -27px;

      position: absolute;
      i {
        margin: 0 auto;
      }
    }
  }
}