//Extends
.thumb {
	width:18px;
	height: 18px;
	display: block;
	background: url("../../images/filter_range_type.jpg") no-repeat;
}



.filters {
	clear: both;
	
	header {
		color: #C3804F;
		font-family: "pf_agora_sans_pro_Medium";
		font-size: 10px;
		font-weight: 500;
		text-transform: uppercase;
		
		span {float:left}
		.category-name {
			color: #8B716A;
			font-family: "pf_agora_sans_pro_Medium_Italic";
			font-size: 14px;
			font-weight: 500;
			font-style: italic;
			text-transform: none;
			position: relative;
			top: -4px;
		}
		
	}
		
	.inner-circle {
		float:left;
		margin: 0 4px;
		position: relative;
		top: 1px;
	}
	
	.filter {
		clear: both;
		margin-top: 5px;
		border: 3px solid #fff;
		border-radius: 16px;
		min-height: 10px;
	}

	.filter-range {
		text-align: center;
		padding-top: 10px;
		.filter-name {
			color: #A27666;
			font-family: "pf_agora_sans_pro_Medium_Italic_italic";
			font-size: em(20px);
			font-weight: 500;
			font-style: italic;
		}

		input {
			-webkit-appearance: none;
			width: 232px;
			min-height: 43px;
			margin-left: 8px;
			background: url(../../images/filter_range_bg.jpg) repeat-x;
			display: block;
			outline: none;
		}

		input::-webkit-slider-thumb {
			@extend .thumb;
		}

		input::-moz-range-thumb {
			@extend .thumb;
		}
	}

}