//Extends
.thumb {
  width: 18px;
  height: 18px;

  background: url("../../images/filter_range_type.jpg") no-repeat;

  display: block;
}



.filters {
  padding-top: 30px;

  clear: both;

  header {
    font-family: "pf_agora_sans_pro_Medium";

    color: #c3804f;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;

    span {
      float: left;
    }
    .category-name {
      top: -4px;

      font-family: "pf_agora_sans_pro_Medium_Italic";
      font-style: italic;

      color: #8b716a;
      font-size: 14px;
      font-weight: 500;
      position: relative;
      text-transform: none;
    }
  }

  .inner-circle {
    top: 1px;

    margin: 0 4px;

    float: left;
    position: relative;
  }

  .filter {
    margin-top: 5px;

    border: 3px solid #fff;

    border-radius: 16px;
    clear: both;
    min-height: 10px;
  }

  .filter-range {
    padding-top: 10px;

    text-align: center;
    .filter-name {
      font-family: "pf_agora_sans_pro_Medium_Italic_italic";
      font-style: italic;

      color: #a27666;
      font-size: em(20px);
      font-weight: 500;
    }

    > input {
      margin-left: 8px;

      width: 232px;

      background: url(../../images/filter_range_bg.jpg) repeat-x;

      -webkit-appearance: none;
      display: block;
      min-height: 43px;
      outline: none;
    }

    input::-webkit-slider-thumb {
      @extend .thumb;
    }

    input::-moz-range-thumb {
      @extend .thumb;
    }
  }

  .type-of-gift {
    margin-left: 3px;

    padding-bottom: 21px;

    background: url('../../images/filter-bg-bottom.jpg') no-repeat bottom ,url("../../images/filter-bg.jpg") repeat-y;

    min-height: 300px;
    header {
      padding-top: 30px;

      font-family: pf_agora_sans_pro_Medium_Italic;
      font-style: italic;

      background: url("../../images/filter-header-bg.jpg") no-repeat;

      color: #fff;
      font-size: em(14px);
      font-weight: 500;
      text-transform: none;
    }

    input[type=checkbox] {
      margin-top: 10px;
      margin-left: 15px;

      clear: both;
      display: none;
      float: left;
    }

    label:before {
      margin-right: 10px;
      margin-bottom: -4px;

      width: 17px;
      height: 17px;

      background: url("../../images/filter-checkbox.png") no-repeat top center;

      content: '';
      display: inline-block;
    }

    input[type=checkbox]:checked + label:before {
      background-position: bottom center;
    }

    input[type=checkbox]:checked + label {
      color: #8d8180;
    }

    label {
      margin-top: 7px;
      margin-left: 15px;

      padding-bottom: 7px;

      width: 220px;

      font-family: pf_agora_sans_pro_Medium_Italic;
      font-style: italic;

      color: #b08a7c;
      cursor: pointer;
      display: block;
      float: left;
      font-size: em(14px);
      font-weight: 500;
      text-align: left;
    }
  }
}