.filters {
	clear: both;
	
	header {
		color: #C3804F;
		font-family: "pf_agora_sans_pro_Medium";
		font-size: 10px;
		font-weight: 500;
		text-transform: uppercase;
		
		span {float:left}
		.category-name {
			color: #8B716A;
			font-family: "pf_agora_sans_pro_Medium_Italic";
			font-size: 14px;
			font-weight: 500;
			font-style: italic;
			text-transform: none;
			position: relative;
			top: -4px;
		}
		
	}
		
	.inner-circle {
		float:left;
		margin: 0 4px;
		position: relative;
		top: 1px;
	}
	
	.filter {
		clear: both;
		margin-top: 5px;
		border: 3px solid #fff;
		border-radius: 16px;
		min-height: 10px;
	}
	
	.filter-range {
		text-align: center;
		.filter-name {
			color: #A27666;
			font-family: "pf_agora_sans_pro_thin_italic";
			font-size: em(20px);
			font-weight: 500;
			font-style: italic;
		}
	}
	
}