.login-box {
  margin-top: -24px;
  margin-left: 10px;

  padding-top: 5px;
  padding-left: 54px;

  width: 147px;
  height: 65px;

  font-family: pf_agora_sans_pro_italic;
  font-style: italic;

  background: url('../images/login-box-bg.png') no-repeat left top;

  display: block;
  float: left;

  a {
    clear: left;
    color: #fff;
    float: left;
    font-size: em(12px);
  }

  a:first-child {
    font-size: em(14px);
  }
}