@font-face {
	font-family: 'PF_Italic';
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/pf_agora/Italic.ttf');
}

@font-face {
	font-family: 'PF_Thin_Italic';
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/pf_agora/Thin_Italic.ttf');
}

.main-footer {
	clear: both;
	background: url(../images/main_footer_bg.jpg) no-repeat;
	background-size: cover;
	display: block;
	width: 100%;
	max-height: 448px;
	min-height: 448px;
	border-top: 1px solid #c8bab3;
	border-bottom: 1px solid #c8bab3;
	padding-left: 80px;
	padding-top: 20px;
	
	p {
		float: left;
		width: percent(327px);
		color: #7d6d68;
		font-style: italic;
		
		font-family: 'PF_Italic';
		margin-right: 74px;
		text-align: justify;
		line-height: 19px;
	}
	
	article {
		background: url(../images/article_bg.png);
		clear: both;
		padding: 2px 8px;
		border-radius: 12px;
		width: 87%;
		p {
			float: none;
			width: 100%;
			color: #fff;
		}
	}
}

footer {
	background: #f5f6fa;
	position: relative;
	.mid-page {
		background: url(../../images/footer_bg.jpg) no-repeat;
		display: block;
		width: 1280px;
		height: 162px;
	}
	
	.footer-bear {
		position: absolute;
		background: url(../../images/footer_bear.png) no-repeat;
		display: block;
		width: 450px;
		height: 285px;
		right:0;
		top:-136px;
	}
	
	p {
		text-align: center;
		font-family: 'PF_Thin_Italic';
		font-size: em(14px);
		margin: 0;
		padding: 0;
		padding-top: 50px;
		font-style: italic;
		color: #555555;
	}
	
	.footer-elefan {
		position: absolute;
		background: url(../../images/footer_elefan.png) no-repeat;
		display: block;
		width: 296px;
		height: 145px;
		left: 50px;
		top: 0;
	}
}