.main-header {
  padding-top: 24px;

  font-family: pf_agora_sans_pro_italic;
  font-style: italic;

  background: url('../images/main-header-bg.png') repeat-x left top;

  min-height: (78 - 24) * 1px;
  position: relative;
  z-index: 3;


  /* Nav */

  nav {
    a {
      margin: 0 20px;

      width: 90px;

      color: #9c857f;
      display: block;
      float: left;
      font-size: em(17px);
      max-width: 135px;
      text-align: center;
    }

    a:nth-child(2) {
      width: 140px;
    }

    a:hover {
      color: #9a5e4f;
    }
  }


  /* Cart */

  .cart {
    margin-top: -8px;

    font-family: pf_agora_sans_pro_light_italic;

    color: #9a5e4f;
    display: block;
    float: right;
    position: relative;

    p {
      width: 240px;

      text-align: right;
    }
  }

  .cart-lable {
    top: -10px;
    right: 46px;

    color: #735448;
    float: right;
    font-size: em(24px);
    position: absolute;
  }

  .cart-icon {
    margin-left: 12px;

    float: right;
  }

  .r-bold-icon {
    margin-top: 5px;
    margin-left: 3px;

    float: right;
  }

  .cart-font-bold {
    font-family: pf_agora_sans_pro_bold_italic;
  }
}