.search-box {
  top: 115px;
  left: percent(500px);

  width: 262px;

  display: block;
  position: relative;
  z-index: 2;

  input[type='text'] {
    padding: 0 5px;

    width: 100%;
    height: 28px;

    border: 1px solid #d2d8e6;

    background-color: #fff;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
    z-index: 5;
  }

  input[type="submit"] {
    top: 5px;
    right: -6px;

    border: none;

    position: absolute;
  }

  input {
    outline: none;
  }
}

.search-box input::-webkit-input-placeholder {
  font-family: Lobster;

  color: #ad9d99;
}
.search-box input::-moz-placeholder {
  font-family: Lobster;

  color: #ad9d99;
}
.search-box input:-ms-input-placeholder {
  font-family: Lobster;

  color: #ad9d99;
}