.main-header {
  font-family: pf_agora_sans_pro_italic;
  font-style: italic;

  a {
    color: #9c857f;
    font-size: em(17px);
    max-width: 135px;
    margin: 0 20px;
    display: block;
    float: left;
    text-align: center;
  }
  
}